interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://mockbin.org/headers?foo=bar
  response:
    content: "{\n  \"headers\": [\n    {\n      \"name\": \"host\",\n      \"value\":
      \"mockbin.org\"\n    },\n    {\n      \"name\": \"connection\",\n      \"value\":
      \"close\"\n    },\n    {\n      \"name\": \"accept-encoding\",\n      \"value\":
      \"gzip\"\n    },\n    {\n      \"name\": \"x-forwarded-for\",\n      \"value\":
      \"188.24.111.114, 162.158.19.72\"\n    },\n    {\n      \"name\": \"cf-ray\",\n
      \     \"value\": \"7e4c4af4c861989d-OTP\"\n    },\n    {\n      \"name\": \"x-forwarded-proto\",\n
      \     \"value\": \"http\"\n    },\n    {\n      \"name\": \"cf-visitor\",\n
      \     \"value\": \"{\\\"scheme\\\":\\\"https\\\"}\"\n    },\n    {\n      \"name\":
      \"accept\",\n      \"value\": \"*/*\"\n    },\n    {\n      \"name\": \"user-agent\",\n
      \     \"value\": \"python-httpx/0.24.1\"\n    },\n    {\n      \"name\": \"cdn-loop\",\n
      \     \"value\": \"cloudflare\"\n    },\n    {\n      \"name\": \"cf-connecting-ip\",\n
      \     \"value\": \"188.24.111.114\"\n    },\n    {\n      \"name\": \"x-request-id\",\n
      \     \"value\": \"30cd4a6f-b1e6-4100-b7b3-5cfe88bbc75c\"\n    },\n    {\n      \"name\":
      \"x-forwarded-port\",\n      \"value\": \"80\"\n    },\n    {\n      \"name\":
      \"via\",\n      \"value\": \"1.1 vegur\"\n    },\n    {\n      \"name\": \"connect-time\",\n
      \     \"value\": \"0\"\n    },\n    {\n      \"name\": \"x-request-start\",\n
      \     \"value\": \"1689028662710\"\n    },\n    {\n      \"name\": \"total-route-time\",\n
      \     \"value\": \"0\"\n    }\n  ],\n  \"headersSize\": 507\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f6-96wYR+WtOzQwNmsxI2xsQ0itcVk"
    status_code: 200
- request:
    body: ''
    headers:
      foobar:
      - somethingsomething
    method: GET
    uri: https://mockbin.org/headers
  response:
    content: "{\n  \"headers\": [\n    {\n      \"name\": \"host\",\n      \"value\":
      \"mockbin.org\"\n    },\n    {\n      \"name\": \"connection\",\n      \"value\":
      \"close\"\n    },\n    {\n      \"name\": \"accept-encoding\",\n      \"value\":
      \"gzip\"\n    },\n    {\n      \"name\": \"x-forwarded-for\",\n      \"value\":
      \"188.24.111.114, 162.158.19.71\"\n    },\n    {\n    [...]
