name: Validate docs

on:
  push:
    paths:
      - 'docs/**'

jobs:
  validate:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install build dependencies
        run: pip install -r docs/requirements.txt
      - name: Rendering HTML documentation
        run: sphinx-build -b html docs/ html
      - name: Inspect html rendered
        run: cat html/index.html
